<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
    <coverage>
        <include>
            <directory>./functions</directory>
            <directory>./src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="sunrise/http-message">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="REQUEST_FACTORY" value="Sunrise\Http\Message\RequestFactory" />
        <const name="RESPONSE_FACTORY" value="Sunrise\Http\Message\ResponseFactory" />
        <const name="SERVER_REQUEST_FACTORY" value="Sunrise\Http\Message\ServerRequestFactory" />
        <const name="STREAM_FACTORY" value="Sunrise\Http\Message\StreamFactory" />
        <const name="UPLOADED_FILE_FACTORY" value="Sunrise\Http\Message\UploadedFileFactory" />
        <const name="URI_FACTORY" value="Sunrise\Http\Message\UriFactory" />
    </php>
</phpunit>
